@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Your global styles here */
@font-face {
  font-family: "BonaNova";
  src: url("./vendor/fonts/BonaNovaSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: BonaNova, sans-serif;
}
